/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || General */

:root * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}

/* || Layout */

.dashboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

aside {
    background-color: lightskyblue;
    grid-column: 1 / 2;
    grid-row: 1 / 10;
}

header {
    background-color: cornsilk;
    grid-column: 2 / 8;
    grid-row: 1 / 2;
}

main {
    background-color: antiquewhite;
    grid-column: 2 / 8;
    grid-row: 2 / 10;
}

/* || Header layout */

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.search_ui {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: aqua;
    padding: 20px 10px;
    display: flex;
}

.notification_ui {
    background-color: blue;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.profile_info {
    background-color: aquamarine;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.header-btns {
    background-color: gray;
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

/* || Search UI */

input[type="search"] {
    width: 70%;
    margin-left: 20px;
    border-radius: 20px;
}

.search_ui .search_icon {
    width: 36px;
    height: 36px;
    margin-left: 50px;
}

/* || Sidebar */

.logo {
    display: flex;
}

.logo img {
    width: auto;
    height: 80px;
}

.logo p {
    flex-grow: 1;
    padding-left: 10px;
    line-height: 3.2;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #fff;
}

aside a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

aside li {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.nav2 {
    margin-top: 50px;
}

.nav_icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

/* || Icons */

.home {
    background: url(../icons/home.png) no-repeat center;
}

.profile {
    background: url(../icons/profile.png) no-repeat center;
}

.messages {
    background: url(../icons/messages.png) no-repeat center;
}

.history {
    background: url(../icons/history.png) no-repeat center;
}

.tasks {
    background: url(../icons/tasks.png) no-repeat center;
}

.communities {
    background: url(../icons/communities.png) no-repeat center;
}

.settings {
    background: url(../icons/settings.png) no-repeat center;
}

.support {
    background: url(../icons/support.png) no-repeat center;
}

.privacy {
    background: url(../icons/privacy.png) no-repeat center;
}

.search_icon {
    background: url(../icons/search.png) no-repeat center;
}